/*
 * CSS for correcting a few things with Owncast v.0.1.0+
 * To be used in Owncast's admin:
 *   -> Configuration -> General -> Appearance
 */

::selection {
  /* colors for selection */
  background-color: #883311;
  color: #eeeeee;
}

:root {
  /* color fix for horizontal lines */
  --color-owncast-palette-6: var(--theme-color-components-text-on-dark) !important;
  /* color fix for link hover AND chat name markings */
  --color-owncast-palette-7: #883311 !important;
  /* make chat text bigger */
  --chat-message-text-size: 1rem;
}

/* font-size fix, to make sure it follows the browser setting -> a11y */
body {
  font-size: 1rem;
}
html {
  font-size: 1rem;
}

/* darkmode chat input */
[class^="ChatTextField_inputWrap"],
[class*=" ChatTextField_inputWrap"] {
  background-color: var(--theme-color-background-header) !important;
  color: var(--theme-color-components-chat-text) !important;
}
